*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
}

.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    position: absolute;
    background-repeat: no-repeat;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
}

.track{
    height: 100vh;
    width: 700vw;
    background-image: url(track.png);
    /* background-size: cover; */
    background-repeat: repeat-x;
    position: absolute;
    top: 85vh;
    animation: carMove linear 10s infinite;
}

.car{
    height: 100px;
    width: 380px;
     background-image: url(car_body.png);
     background-size: cover;
     background-repeat: no-repeat;
     position: absolute;
     left: 444px;
     bottom: 97px;
     animation: shake linear 3s infinite;
}



.wheel1 img{
        /* height: 10px; */
        width: 70px;
        position: relative;
        top: 42px;
        left: 45px;
        animation: wheelRotation linear .6s infinite;
}
.wheel2 img{

    /* height: 10px; */
    width: 77px;
    position: relative;
    top: -31px;
    left: 235px;
    animation: wheelRotation linear .6s infinite;
}

@keyframes wheelRotation{

 
    100%{
        transform: rotate(360deg);
    }

}
@keyframes carMove{

 
    100%{
        transform: translatex(-500vw);
    }

}


@keyframes shake{
    0%{
        transform: translateY(-5px)
    }

    50%{
        transform: translateY(5px)
    }
    100%{
        transform: translateY(-5px)
    }
}